<?xml version="1.0" encoding="utf-8" ?>
<CoreConfig>
  <ConnectionString>Data Source=127.0.0.1,1433;User Id=sa;Password=123456;</ConnectionString>
  <ProviderName>System.Data.SqlClient</ProviderName>
  <DatabasePath>D:\LQServer\Server\db\</DatabasePath>
  <GamePath>G:\Program Files (x86)\zh-CN</GamePath>
  <BinPath>D:\LQServer\Server\Bin</BinPath>
  <GameCode>16850955</GameCode>
  <DataBases>
    <item>heroes</item>
    <item>HeroesExcept</item>
    <item>heroesLog</item>
    <item>heroesMarketPlace</item>
    <item>heroesRank</item>
    <item>heroesShare</item>
  </DataBases>
  <Apps>
    <App name="认证服务" path="D:\LQServer\Server\NMServer.exe"/>
    <App name="网页服务" path="D:\LQServer\Server\webserver.exe"/>
    <App name="游戏服务" path="D:\LQServer\Server\Bin\Executer.exe">
      <StubApps>
        <StubApp name="LocationService" args="UnifiedNetwork.dll UnifiedNetwork.LocationService.LocationService StartService LocationService 42"/>
        <StubApp name="FrontendService" args="FrontendServiceCore.dll FrontendServiceCore.FrontendService StartService FrontendService 127.0.0.1 42"/>
        <StubApp name="CashShopService" args="CashShopService.dll CashShopService.CashShopService StartService CashShopService 127.0.0.1 42"/>
        <StubApp name="RankService" args="RankService.dll RankService.RankService StartService RankService 127.0.0.1 42"/>
        <StubApp name="GuildService" args="GuildService.dll GuildService.GuildService StartService GuildService 127.0.0.1 42"/>
        <StubApp name="PvpService" args="PvpService.dll PvpService.PvpService StartService PvpService 127.0.0.1 42"/>
        <StubApp name="LoginService" args="LoginServiceCore.dll LoginServiceCore.LoginService StartService LoginService 127.0.0.1 42"/>
        <StubApp name="MicroPlayService" args="MicroPlayServiceCore.dll MicroPlayServiceCore.MicroPlayService StartService MicroPlayService 127.0.0.1 42"/>
        <StubApp name="MMOChannelService" args="MMOChannelService.dll MMOChannelService.MMOChannelService StartService MMOChannelService 127.0.0.1 42"/>
        <StubApp name="PlayerService" args="PlayerService.dll PlayerService.PlayerService StartService PlayerService 127.0.0.1 42"/>
        <StubApp name="DSService" args="DSService.dll DSService.DSService StartService DSService 127.0.0.1 42"/>
        <StubApp name="PingService" args="PingService.dll PingServiceCore.PingService StartService PingService 127.0.0.1 42"/>
        <StubApp name="UserDSHostService" args="UserDSHostService.dll UserDSHostService.UserDSHostService StartService UserDSHostService 127.0.0.1 42"/>
        <StubApp name="AdminService" args="AdminClientServiceCore.dll AdminClientServiceCore.AdminClientService StartService AdminService 127.0.0.1 42"/>
      </StubApps>
    </App>
  </Apps>
</CoreConfig>